# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Escape Characters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) Booleans <br>
5) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) truth tree <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) and/or <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) elif <br>
 &nbsp;&nbsp;&nbsp;&nbsp; 3) else <br>
6) <b>In-Class Exercise #2</b> <br>
7) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
8) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
9) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
10) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
12) Try and Except <br>

### Int & Float Assignments

##### Assigning int

In [3]:
num_int = 3542

print (num_int)
print (type(num_int))

3542
<class 'int'>

##### Assinging float

The decimal (.) is what tells python to make this a float

In [4]:
num_float = 315.234

print(num_float)
print(type(num_float))

315.234
<class 'float'>

#### Performing Calculations on ints and floats

##### Addition

In [10]:
num1 = 2
num2 = 5

# int + in = int
# int + float = float
#float + float = float

result= num1 + num2

print(result)
print(type(result))

# short-hand version
result += 10      #result = result + 10
print(result)
print(type(result))

7
<class 'int'>
17
<class 'int'>

##### Subtraction

In [13]:
result_diff = num2 - num1
print(result_diff)

# short-hand version
result_diff -= 1    #result_diff = result_diff -1
print(result_diff)

3
2

##### Multiplication

In [14]:
result_prod = num1 * num2
print(result_prod)

# short-hand version
result_prod *= 5   #result_prod = result_prd * 5
print(result_prod)

10
50

##### Division

In [15]:
result_div = num2/num1
print(result_div)

# short-hand version
new_result = 20/10
print(new_result)
print(type(new_result))
#  division always results in a float

2.5
2.0
<class 'float'>

##### Floor Division

In [19]:
# Sometime referred to as 'Integer Division'
# will return highest number without remainders (essentially deletes all numbers after (.))

result_floor = num2 // num1
print(result_floor)
print(type(result_floor))

1.0
<class 'float'>

##### Modulo

In [24]:
# returns remainder of division expression
num3 = 46
num4 = 5

result_mod = num3 % num4
print(result_mod)
print(type(result_mod))

1
<class 'int'>

##### Exponential

In [26]:
# use a **
num1 = 2
num2 = 5
square = num1 ** num2
print(square)
print(type(square))

32
<class 'int'>

### String Input-Output

##### String Assignment

In [28]:
name1 = "Terry"
print(name1)
print(type(name1))

Terry
<class 'str'>

In [29]:
# Can use " or '
name2 = 'Kubalewski'
print(name2)

Kubalewski

In [31]:
# Cannot mix " and ' or add in ' when started with '
contraction1 = "You cannot do this'
contraction2 = 'You can't do this either
print(contraction1)
print(contraction2)

SyntaxError: EOL while scanning string literal (1148354981.py, line 2)

##### Escape Characters

In [32]:
# use a \ when adding ' into '
contraction3 = 'You can\'t do that'
print(contraction3)

You can't do that

In [35]:
# \n - new line character

In [ ]:
# \t - tab character

In [36]:
# Raw String
print(r"Hellon\thow are you")

Hellon\thow are you

##### String Concatenation

In [42]:
first_name = "john"
last_name = "smith"
full_name = first_name + " " + last_name

print(full_name.title())

full_name += ", JR."
print(full_name.title())

John Smith
John Smith, Jr.

In [46]:
num_a = 10
num_b = "10"

num_c = num_a + int(num_b)
print(num_c)

1010

##### Type Conversion

In [ ]:
# adding int or str before variable to change it from one to the other

##### .format() and f-strings

In [64]:
name = "terry"
home = "bama"

print("Hello, my name is {} and I am from {}" .format(name.title(), home.title()) + "!")
print(f"Hello, my name is {name.title()} and I am from {home.title()}" + "!")

Hello, my name is Terry and I am from Bama!
Hello, my name is Terry and I am from Bama!

##### Old Way (python 2)

In [68]:
print("Hello, my name is %s and I am from %s" %(name.title(), home.title()))

Hello, my name is Terry and I am from Bama

# In-Class Exercise 1 <br>
<p>Increase the year by 1 and then print out the following statement using type conversion and a formatted string</p>

In [74]:
#OUTPUT:  I drive a blue 2023 Ford Focus.
color = 'blue'
make = 'Ford'
year = '2022'
model = 'Focus'



print(f"I drive a {color} {int(year) + 1} {make} {model}.")

print("I drive a {} {} {} {}".format(color, int(year) + 1 , make, model))

I drive a blue 2023 Ford Focus.
I drive a blue 2023 Ford Focus

### Booleans

In [76]:
bool_true = True

print(bool_true)
print(type(bool_true))

False
<class 'bool'>

In [77]:
bool_false = False

print(bool_false)
print(type(bool_false))

False
<class 'bool'>

### If Statements

In [80]:
# if <expression>:
#     <statement>

if True:
    print("Hello, this is true.")

if False:
    print("Hello, this is false.")

Hello, this is true.

In [82]:
# Available operators: Greater(>), Less(<), Equal(==)
# Greater or Equal(>=), Less or Equal (<=), Not Equal (!=)

num1 = 10
num2 = 5
num3 = 2

print(num1 < num2)
print(num1 == num2 * num3)
print(num1 != num3)

False
True
True

In [84]:
if num1 < num2:
    print("num1 is less than num2")
    
if num2 < num1:
    print("numb2 is less than num1")

numb2 is less than num1

## Using 'and'/'or' with If Statements

In [89]:
# Truth Tree:
# T and T = T
# T and F = F
# F and F = F
# T or T = T
# T or F = T
# F or F = F

potential_candidate_gpa = 3.1
potential_candidate_act = 25

if potential_candidate_gpa > 2.5 and potential_candidate_act > 25:
    print("Pass student along")
else:
    print("Reject student")

Reject student

### Else Statements

In [94]:
# An else statement runs when the if statement above it evaluates to False

potential_candidate_gpa = 2.3
potential_candidate_act = 27

if potential_candidate_gpa > 2.5 or potential_candidate_act > 25:
    print("Pass student along")
else:
    print("Reject student")

Pass student along

### Elif Statements

In [104]:
# An elif only runs when the if (or elif) directly above it evaluates to False

req_height = 60
rider_height = 60

if rider_height > req_height:
    print("Enjoy the ride!")
elif rider_height == req_height:
    print("You barely made it! Enjoy the ride!")
else:
    print("Sorry, you're not tall enough to ride the ride!")

You barely made it! Enjoy the ride!

### In-Class Exercise 2 <br>
<p>Write a program that will check a person's age and adjust the ticket price. Regular ticket price is $10. Seniors (65+) get 25 percent off and children (under 0-9) are half off. Print out the ticket price at the end</p>

In [131]:

ticket = 10
# person_age = 72 # Output: Your ticket is $7.50
# person_age = 47 # Output: Your ticket is $10
# person_age = 8 # Output: Your ticket is $5.00


person_age = 55

if person_age >= 65:
    print("Your ticket is $7.50")
elif person_age >= 9:
    print("Your ticket is $10")
else:
    print("Your ticket is $5.00")

Your ticket is $10

### Lists

##### Declaring Lists

In [179]:
list_1 = [] # Empty List
print(list_1)
print(type(list_1))
print("\n")
names = ['Max', 'Catherine', 'Adam', 'Margo', 'James', 'Penelope']
print(names)
print(type(names))

[]
<class 'list'>


['Max', 'Catherine', 'Adam', 'Margo', 'James', 'Penelope']
<class 'list'>

##### Indexing a List

In [180]:
# list[start: stop: step] * start is inclusive, stop is exclusive
# lists are a 0-based index (starts with 0)

# Single Index
print(names[0])
print("\n")

# Slice list at index 1 all the way to the end
print(names[1:])
print("\n")

# Slice from beginning up to, but not included, specific spot
print(names[:3])
print("\n")

# Slice the whole list -> Make a copy
print(names[:])
print("\n")


# Slice every other element
print(names[::2])
print("\n")

# Nexative numbers start from the back
print(names[-1])
print("\n")

# Nexative step will walk backwards through the list
print(names[::-1])
print("\n")

# Some combo of all
print(names[1:4:2])

Max


['Catherine', 'Adam', 'Margo', 'James', 'Penelope']


['Max', 'Catherine', 'Adam']


['Max', 'Catherine', 'Adam', 'Margo', 'James', 'Penelope']


['Max', 'Adam', 'James']


Penelope


['Penelope', 'James', 'Margo', 'Adam', 'Catherine', 'Max']


['Catherine', 'Margo']

In [181]:
# Lists are mutable (can change the values)
# Item assignment - list[index] = value

print(names)
names[1] = 'Kathy'
print(names)

['Max', 'Catherine', 'Adam', 'Margo', 'James', 'Penelope']
['Max', 'Kathy', 'Adam', 'Margo', 'James', 'Penelope']

##### .append()

In [182]:
# list.append(value_to_append) - add the value to the END of the list

print(names)
print("\n")

names.append('Frank')
print(names)

['Max', 'Kathy', 'Adam', 'Margo', 'James', 'Penelope']


['Max', 'Kathy', 'Adam', 'Margo', 'James', 'Penelope', 'Frank']

##### .insert()

In [183]:
# list.insert(index,value) - add value to list at index and move everything after back one

print(names)

names.insert(3, 'Henry')

print(names)

['Max', 'Kathy', 'Adam', 'Margo', 'James', 'Penelope', 'Frank']
['Max', 'Kathy', 'Adam', 'Henry', 'Margo', 'James', 'Penelope', 'Frank']

##### .pop()

In [184]:
# list.pop(index) - removes element at index 
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable

print(names)
removed_name = names.pop()
print(names)
print(removed_name)

['Max', 'Kathy', 'Adam', 'Henry', 'Margo', 'James', 'Penelope', 'Frank']
['Max', 'Kathy', 'Adam', 'Henry', 'Margo', 'James', 'Penelope']
Frank


##### .remove()

In [185]:
# list.remove(value) - value to be removed , not index
print(names)

['Max', 'Kathy', 'Adam', 'Henry', 'Margo', 'James', 'Penelope']

***.count()***

In [186]:
# list.count(value) - return the count of value in list

print(names.count('Max'))

1

***.index()***

In [187]:
# list.index(value)

print(names.index('James'))

5

##### del()

In [189]:
# index to be removed, not value
# BE CAREFUL with del, can cause indexing errors if not used carefully

del names[4]

print(names)

['Max', 'Kathy', 'Adam', 'Henry', 'James', 'Penelope']

***.clear()***

In [190]:
# removes all values from the list

names.clear()

print(names)

[]

##### Concatenating Two Lists

In [191]:
# will append two lists together, not add up the elements in each list

list_a = [1,2,3]
list_b = [4,5,6]
list_c = list_a + list_b

print(list_c)

[1, 2, 3, 4, 5, 6]

##### Lists Within Lists

In [197]:
# Lists are able to hold any type of element, including OTHER lists themsevles
# they can also go as deep as you want, having many lists nested inside of each other

names = ['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Topanga']]

print(names)
print(names[3])
print(type(names[3]))
print(names[3][0])

names[3].append('Cory')
print(names)

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Topanga']]
['Sally', 'Sue', 'Topanga']
<class 'list'>
Sally
['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Topanga', 'Cory']]

### For Loops

In [203]:
# for <keyword> in <iterable>:
#     <statement>

print("Begin loop -")
for x in [5, 10, 15, 20, 25, 30, 35, 40]:
    print(x)
print("- End loop")
    
print("\n")

for x in [5, 10, 15, 20, 25, 30, 35, 40]:
    print(x*3)

Begin loop -
5
10
15
20
25
30
35
40
- End loop


15
30
45
60
75
90
105
120

In [205]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']

for color in colors:
    print(color.title() + " is a color.")

Red is a color.
Orange is a color.
Yellow is a color.
Green is a color.
Blue is a color.
Indigo is a color.
Violet is a color.

##### Continue Statement

In [215]:
list_to_use = [10, 20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
# will continue to next iteration

In [216]:
for element in list_to_use:
    if element == 50:
        continue
    print(element)
    print("Hello")

10
Hello
20
Hello
30
Hello
40
Hello
60
Hello
70
Hello
80
Hello
90
Hello

##### Break Statement

In [ ]:
# will break out of current loop

In [218]:
for element in list_to_use:
    if element == 50:
        break
    print(element)
    print("Hello")

10
Hello
20
Hello
30
Hello
40
Hello

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [220]:
for num in list_to_use:
    # Do something here later - just pass it for now and come back later
    pass
print("Hello")

Hello

In [224]:
for num in list_to_use:
    if num > 50:
        pass
    print(num)

10
20
30
40
50
60
70
80
90

##### Nested/Double For Loops

In [232]:
my_nums = [1, 2, 3, 4]

for i in my_nums:
    for j in my_nums:
        for k in my_nums:
            print(f"i = {i}, j = {j}, k = {k}")

i = 1, j = 1, k = 1
i = 1, j = 1, k = 1
i = 1, j = 1, k = 1
i = 1, j = 1, k = 1
i = 1, j = 1, k = 2
i = 1, j = 1, k = 2
i = 1, j = 1, k = 2
i = 1, j = 1, k = 2
i = 1, j = 1, k = 3
i = 1, j = 1, k = 3
i = 1, j = 1, k = 3
i = 1, j = 1, k = 3
i = 1, j = 1, k = 4
i = 1, j = 1, k = 4
i = 1, j = 1, k = 4
i = 1, j = 1, k = 4
i = 1, j = 2, k = 1
i = 1, j = 2, k = 1
i = 1, j = 2, k = 1
i = 1, j = 2, k = 1
i = 1, j = 2, k = 2
i = 1, j = 2, k = 2
i = 1, j = 2, k = 2
i = 1, j = 2, k = 2
i = 1, j = 2, k = 3
i = 1, j = 2, k = 3
i = 1, j = 2, k = 3
i = 1, j = 2, k = 3
i = 1, j = 2, k = 4
i = 1, j = 2, k = 4
i = 1, j = 2, k = 4
i = 1, j = 2, k = 4
i = 1, j = 3, k = 1
i = 1, j = 3, k = 1
i = 1, j = 3, k = 1
i = 1, j = 3, k = 1
i = 1, j = 3, k = 2
i = 1, j = 3, k = 2
i = 1, j = 3, k = 2
i = 1, j = 3, k = 2
i = 1, j = 3, k = 3
i = 1, j = 3, k = 3
i = 1, j = 3, k = 3
i = 1, j = 3, k = 3
i = 1, j = 3, k = 4
i = 1, j = 3, k = 4
i = 1, j = 3, k = 4
i = 1, j = 3, k = 4
i = 1, j = 4, k = 1
i = 1, j = 4, k = 1
i = 1, j = 4, k = 1
i = 1, j = 4, k = 1
i = 1, j = 4, k = 2
i = 1, j = 4, k = 2
i = 1, j = 4, k = 2
i = 1, j = 4, k = 2
i = 1, j = 4, k = 3
i = 1, j = 4, k = 3
i = 1, j = 4, k = 3
i = 1, j = 4, k = 3
i = 1, j = 4, k = 4
i = 1, j = 4, k = 4
i = 1, j = 4, k = 4
i = 1, j = 4, k = 4
i = 2, j = 1, k = 1
i = 2, j = 1, k = 1
i = 2, j = 1, k = 1
i = 2, j = 1, k = 1
i = 2, j = 1, k = 2
i = 2, j = 1, k = 2
i = 2, j = 1, k = 2
i = 2, j = 1, k = 2
i = 2, j = 1, k = 3
i = 2, j = 1, k = 3
i = 2, j = 1, k = 3
i = 2, j = 1, k = 3
i = 2, j = 1, k = 4
i = 2, j = 1, k = 4
i = 2, j = 1, k = 4
i = 2, j = 1, k = 4
i = 2, j = 2, k = 1
i = 2, j = 2, k = 1
i = 2, j = 2, k = 1
i = 2, j = 2, k = 1
i = 2, j = 2, k = 2
i = 2, j = 2, k = 2
i = 2, j = 2, k = 2
i = 2, j = 2, k = 2
i = 2, j = 2, k = 3
i = 2, j = 2, k = 3
i = 2, j = 2, k = 3
i = 2, j = 2, k = 3
i = 2, j = 2, k = 4
i = 2, j = 2, k = 4
i = 2, j = 2, k = 4
i = 2, j = 2, k = 4
i = 2, j = 3, k = 1
i = 2, j = 3, k = 1
i = 2, j = 3, k = 1
i = 2, j = 3, k = 1
i = 2, j = 3, k = 2
i = 2, j = 3, k = 2
i = 2, j = 3, k = 2
i = 2, j = 3, k = 2
i = 2, j = 3, k = 3
i = 2, j = 3, k = 3
i = 2, j = 3, k = 3
i = 2, j = 3, k = 3
i = 2, j = 3, k = 4
i = 2, j = 3, k = 4
i = 2, j = 3, k = 4
i = 2, j = 3, k = 4
i = 2, j = 4, k = 1
i = 2, j = 4, k = 1
i = 2, j = 4, k = 1
i = 2, j = 4, k = 1
i = 2, j = 4, k = 2
i = 2, j = 4, k = 2
i = 2, j = 4, k = 2
i = 2, j = 4, k = 2
i = 2, j = 4, k = 3
i = 2, j = 4, k = 3
i = 2, j = 4, k = 3
i = 2, j = 4, k = 3
i = 2, j = 4, k = 4
i = 2, j = 4, k = 4
i = 2, j = 4, k = 4
i = 2, j = 4, k = 4
i = 3, j = 1, k = 1
i = 3, j = 1, k = 1
i = 3, j = 1, k = 1
i = 3, j = 1, k = 1
i = 3, j = 1, k = 2
i = 3, j = 1, k = 2
i = 3, j = 1, k = 2
i = 3, j = 1, k = 2
i = 3, j = 1, k = 3
i = 3, j = 1, k = 3
i = 3, j = 1, k = 3
i = 3, j = 1, k = 3
i = 3, j = 1, k = 4
i = 3, j = 1, k = 4
i = 3, j = 1, k = 4
i = 3, j = 1, k = 4
i = 3, j = 2, k = 1
i = 3, j = 2, k = 1
i = 3, j = 2, k = 1
i = 3, j = 2, k = 1
i = 3, j = 2, k = 2
i = 3, j = 2, k = 2
i = 3, j = 2, k = 2
i = 3, j = 2, k = 2
i = 3, j = 2, k = 3
i = 3, j = 2, k = 3
i = 3, j = 2, k = 3
i = 3, j = 2, k = 3
i = 3, j = 2, k = 4
i = 3, j = 2, k = 4
i = 3, j = 2, k = 4
i = 3, j = 2, k = 4
i = 3, j = 3, k = 1
i = 3, j = 3, k = 1
i = 3, j = 3, k = 1
i = 3, j = 3, k = 1
i = 3, j = 3, k = 2
i = 3, j = 3, k = 2
i = 3, j = 3, k = 2
i = 3, j = 3, k = 2
i = 3, j = 3, k = 3
i = 3, j = 3, k = 3
i = 3, j = 3, k = 3
i = 3, j = 3, k = 3
i = 3, j = 3, k = 4
i = 3, j = 3, k = 4
i = 3, j = 3, k = 4
i = 3, j = 3, k = 4
i = 3, j = 4, k = 1
i = 3, j = 4, k = 1
i = 3, j = 4, k = 1
i = 3, j = 4, k = 1
i = 3, j = 4, k = 2
i = 3, j = 4, k = 2
i = 3, j = 4, k = 2
i = 3, j = 4, k = 2
i = 3, j = 4, k = 3
i = 3, j = 4, k = 3
i = 3, j = 4, k = 3
i = 3, j = 4, k = 3
i = 3, j = 4, k = 4
i = 3, j = 4, k = 4
i = 3, j = 4, k = 4
i = 3, j = 4, k = 4
i = 4, j = 1, k = 1
i = 4, j = 1, k = 1
i = 4, j = 1, k = 1
i = 4, j = 1, k = 1
i = 4, j = 1, k = 2
i = 4, j = 1, k = 2
i = 4, j = 1, k = 2
i = 4, j = 1, k = 2
i = 4, j = 1, k = 3
i = 4, j = 1, k = 3
i = 4, j = 1, k = 3
i = 4, j = 1, k = 3
i = 4, j = 1, k = 4
i = 4, j = 1, k = 4
i = 4, j = 1, k = 4
i = 4, j = 1, k = 4
i = 4, j = 2, k = 1
i = 4, j = 2, k = 1
i = 4, j = 2, k = 1
i = 4, j = 2, k = 1
i = 4, j = 2, k = 2
i = 4, j = 2, k = 2
i = 4, j = 2, k = 2
i = 4, j = 2, k = 2
i = 4, j = 2, k = 3
i = 4, j = 2, k = 3
i = 4, j = 2, k = 3
i = 4, j = 2, k = 3
i = 4, j = 2, k = 4
i = 4, j = 2, k = 4
i = 4, j = 2, k = 4
i = 4, j = 2, k = 4
i = 4, j = 3, k = 1
i = 4, j = 3, k = 1
i = 4, j = 3, k = 1
i = 4, j = 3, k = 1
i = 4, j = 3, k = 2
i = 4, j = 3, k = 2
i = 4, j = 3, k = 2
i = 4, j = 3, k = 2
i = 4, j = 3, k = 3
i = 4, j = 3, k = 3
i = 4, j = 3, k = 3
i = 4, j = 3, k = 3
i = 4, j = 3, k = 4
i = 4, j = 3, k = 4
i = 4, j = 3, k = 4
i = 4, j = 3, k = 4
i = 4, j = 4, k = 1
i = 4, j = 4, k = 1
i = 4, j = 4, k = 1
i = 4, j = 4, k = 1
i = 4, j = 4, k = 2
i = 4, j = 4, k = 2
i = 4, j = 4, k = 2
i = 4, j = 4, k = 2
i = 4, j = 4, k = 3
i = 4, j = 4, k = 3
i = 4, j = 4, k = 3
i = 4, j = 4, k = 3
i = 4, j = 4, k = 4
i = 4, j = 4, k = 4
i = 4, j = 4, k = 4
i = 4, j = 4, k = 4

### While Loops

In [235]:
# while <conditional>:
#     <statement to run while condition is true>

num = 0
while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [236]:
game_over = False

while True:
    print('Infinite Loop')
    if game_over == False:
        break

Infinite Loop

### Built-In Functions

##### input()

In [1]:
# input(question) => ALWAYS RETURNS A STRING

answer = input('What is your answer to the question? ')
print(answer)

What is your answer to the question? 75
75

In [2]:
age = int(input("How old are you? "))

age_in_five = age + 5

print(age_in_five)

How old are you? 25
30

In [3]:
while True:
    keep_playing = input('Would you like to keep playing this game? y/n ')
    if keep_playing == 'n':
        print("Game Over!")
        break
    else:
        print("Let's go!")

Would you like to keep playing this game? y/n y
Let's go!
Would you like to keep playing this game? y/n y
Let's go!
Would you like to keep playing this game? y/n y
Let's go!
Would you like to keep playing this game? y/n n
Game Over!

##### range()

In [4]:
# range(stop) -> goes from 0 up to, but not including, stop

list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
#Start, Stop, Step
list(range(10,20))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [6]:
list(range(10,20,2))

[10, 12, 14, 16, 18]

##### len()

In [9]:
# check Length of variable
cities = ['chicago', 'new york', 'los angeles', 'seattle']

print(len(cities))

4

In [10]:
name = 'lionel messi'

print(len(name))

12

In [15]:
for index in range(len(cities)):
    print(index, cities[index])

0 chicago
1 new york
2 los angeles
3 seattle

##### help()

In [11]:
# Use this function to view more info about a python function (With a DOCSTRING)
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [20]:
# Check a variable to find out what Object family it belongs to
# isinstace(var, type)

some_num = 45

print(isinstance(some_num, int))
print(isinstance(some_num, float))

True
False

### Try and Except

In [ ]:
# use whenever you expect to encounter a bug so that the error doesn't cause the program to stop
# Use so that you can log out graceful and useful error messages

##### Looping Through Lists

In [ ]:
# two ways to loop through a list, using range for index and in for values

# Loop with a for loop (By Index)

    
# Loop with a for loop (Using the 'in' keyword)

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [48]:
list_num = range(0,1001)

for num in list_num:
    if num*num*num <= 1000:
        print(num*num*num)

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [37]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

numbers = range(1,101)
for number in numbers:
    if number > 1:
        for i in range(2,number):
            if (number % i) == 0:  
                break  
        else:  
               print (number)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [42]:
user_age = input("How old are you? ")

if int(user_age) < 18:
    print("You're a kid!")
elif int(user_age) < 65:
    print("You're an adult!")
else:
    print("You're a senior citizen!")

How old are you? 64
You're an adult!